.container{
  background: #7FC29B; 
  width: auto; 
  height: 550px;
  display: inline-block;
  text-align: center;
  color: black;
}

.minus {
    border-radius: 4px;
    width: 26px;
    height: 26px;
    margin-right: 8px;
    background: #412234;
    color: white;
    border: none;
    font-size: 16px;
}

.plus {
  border-radius: 4px;
  width: 26px;
  height: 26px;
  background: #6D466B;
  color: white;
  border: none;
  font-size: 16px;
}

.child {
  background: #D7F171;
  width: 300px;
  height: 300px; 
  text-align: center; 
  color: black;
}

.parent {
  background: #B5EF8A; 
  width: 400px; 
  height: 400px; 
  text-align: center; 
  color: black;
}